<div class="grid-container">
    <div class="dashboard-card">

      <h1 class="mat-h1">Thống kê sản phẩm</h1>
      <mat-tab-group color="warn" >
        <mat-tab label="Sản phẩm nhập và bán"> 
          <div class="details__item-content">
            <div class="graph">
              <mat-card>
                <div class="baseChart">
                    <div class="chart-title">Thống kê sản phẩm nhập và bán</div>
                    <div class="productChart" style="width: 100%;">
                        <canvas
                            baseChart
                            [chartType]="'bar'"
                            [datasets]="chartData"
                            [labels]="chart_Labels"
                            [colors]="barChartColors"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartClick)="onChartClick($event)">
                        </canvas>
                      </div>
                  </div>
              </mat-card>
              </div>
          </div>
        </mat-tab>
        <mat-tab label="Biến động giá"> 
          <div class="graph graph-product">
            <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
              <div class="form-field-group">
                <mat-form-field appearance="fill"  class="example-full-width">
                  <mat-label>Sản phẩm</mat-label>
                  <mat-select name="sanpham_id"
                  #sanpham_id="ngModel" (ngModelChange)="onChange($event)"
                  [(ngModel)]="service.formProduct._id" >
                    <mat-option *ngFor="let dl of productList | keyvalue" [value]="dl.key">
                      {{dl.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </form>
            <div class="text-left text-danger"
                *ngIf="sanpham_id.invalid && sanpham_id.touched">
                Chọn sản phẩm
            </div>
            <mat-card>
              <div class="baseChart">
                  <div class="chart-title">Biểu đồ biến động giá của sản phẩm</div>
                  <div class="productChart" style="width: 80%;">
                      <canvas
                          baseChart
                          [chartType]="'line'"
                          [datasets]="chart_Data"
                          [labels]="chartLabels"
                          [options]="chartOptions"
                          
                          [legend]="true"
                          (chartClick)="onChartClick($event)">
                      </canvas>
                    </div>
                </div>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Sản phẩm sắp hết hàng">
          <div class="details__item-content">
            <div class="graph">
              <div class="table-title">Danh sách sản phẩm sắp hết hàng</div>
              <app-lowstock></app-lowstock>
            </div>
          </div>
          
        </mat-tab>
        <mat-tab label="Sản phẩm hết hàng">
          <div class="details__item-content">
            <div class="graph">
              <div class="table-title">Danh sách sản phẩm đã hết hàng</div>
              <app-outofstock></app-outofstock>
            </div>
          </div>
          
        </mat-tab>
      </mat-tab-group>
      <!-- <div class="card">
         <mat-card class="customers">
             <div class="dashboard">
                 <div class="dashboard__item ">
                    <i class="fas fa-users"></i>
                     <div class="dashboard__item-title">
                        Khách hàng
                     </div>
                     <div class="dashboard__item-content">
                        <span>{{totalCustomers}}</span>
                     </div>
                 </div>
             </div>
         </mat-card>
         <mat-card class="orders">
            <div class="dashboard">
                <div class="dashboard__item ">
                    <i class="fas fa-receipt"></i>
                    <div class="dashboard__item-title">
                       Đơn hàng
                    </div>
                    <div class="dashboard__item-content">
                       <span>{{totalOrders}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="revenue">
            <div class="dashboard">
                <div class="dashboard__item">
                    <i class="fas fa-dollar-sign"></i>
                    <div class="dashboard__item-title">
                       Doanh thu
                    </div>
                    <div class="dashboard__item-content">
                       <span>{{revenue | currency:'VND'}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
     </div> -->
  
         
         <!-- <mat-card>
            <div class="baseChart">
                <div class="chart-title">Thống kê abc</div>
                <div style="width: 100%;">
                    <canvas
                        baseChart
                        [chartType]="'pie'"
                        
                        [datasets]="chartPieData"
                        [labels]="chartPieMonths"
                        [colors] = "barChartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartClick)="onChartClick($event)">
                    </canvas>
                  </div>
             </div>
         </mat-card> -->
        
 
     </div>
</div>