<div id="cart">
    <div class="title_page">
        <a href="">Trang chủ</a> <i class="fas fa-chevron-right"></i> Giỏ hàng
    </div>
    <div class="progress-bar" *ngIf = "cartList?.length > 0"> 
        <ul class="progressbar">
            <li  class="active">Giỏ hàng</li>
            <li  class="">Đặt hàng</li>
            <li>Thanh toán</li>
            <li>Thành công</li>
        </ul>
    </div>
    <section class="cart">
        
        <div *ngIf = "cartList?.length == 0" class="message-error">Giỏ hàng trống!</div>
        <div  *ngIf = "cartList?.length > 0" class="cart-content">
            <!-- <div class="progress-bar"> 
                <ul class="progressbar">
                    <li  class="active">Giỏ hàng</li>
                    <li  class="">Đặt hàng</li>
                    <li>Thanh toán</li>
                    <li>Thành công</li>
                </ul>
            </div> -->
            <div class="container">          
                <div class="cart__top">    
                    <div class="cart__top-list cart-list" >
                        <table id="cart" class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th >&nbsp;</th>
                                    <th >Sản Phẩm</th>
                                    <th >Đơn Giá</th>
                                    <th >Số Lượng</th>
                                    <th >Tổng Cộng</th>
                                    <th >&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartList; let i = index"
                                    class="text-center">
                                    <!-- {{item}} -->
                                    <td class="table__image">
                                    
                                        <div *ngFor="let dl of imageList | keyvalue">   
                                            <div *ngIf="dl.key == item.ctsp_id._id" >
                                                <img src="{{dl.value}}" alt="Image" class="img-cart">
                                            </div>
                                        </div>
                                        
                                    </td>
                                    <td class="table__product product-name">
                                        
                                        <h3>
                                            <a href="" class="name">
                                                {{item['ctsp_id']['mausanpham_id']['sanpham_id']['ten']}}
                                            </a>
                                        </h3>                                        
                                        <br>
                                        <button class="color-size">
                                            {{item['ctsp_id']['mausanpham_id']['mausac_id']['ten']}} / 
                                            {{item['ctsp_id']['kichco_id']['ten']}}</button>
                                    </td>
                                    <td class="table__price">
                                        <!-- <span class="old-price">$249 </span> &nbsp;  -->
                                        <!-- {{priceList}}    -->
                                        <div *ngFor="let price of priceList">
                                            <!-- <span>{{price}} </span>    -->
                                            <div *ngIf = "price['sanpham_id'] == item['ctsp_id']['mausanpham_id']['sanpham_id']['_id']" 
                                            > 
                                                <span  
                                                    *ngIf="item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] == null
                                                    ||  ((item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] != null) 
                                                    && (!isExpirationExpired(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id']))) "
                                                    >{{price['dongia'] | currency: 'VND'}} &nbsp;
                                                </span>  
                                                <div class="new-price" 
                                                    *ngIf="(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] != null)  
                                                    && (isExpirationExpired(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'])) ">
                                                    <span class="old-price">{{price['dongia'] | currency: 'VND'}} </span> 
                                                    {{price['dongia']*(100-item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id']['giamgia'])/100 | currency: 'VND'}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="table__quantity">
                                        <input type="number" class="form-control" step="1"
                                                id="quantity[{{item['ctsp_id']['_id']}}]" [(value)]="item['soluongdat']"  
                                                min="1" max="{{item['ctsp_id']['soluong']}}" 
                                                (change)="onChange(item['_id'],item['ctsp_id']['_id'], $event.target.value)"> 
                                        <br>
                                        <span class="note">Còn {{item['ctsp_id']['soluong']}} đôi </span>   
                                                                    
                                    </td>
                                    <td class="table__price">
                                        
                                        <span class="amount">
                                            <div *ngFor="let price of priceList">
                                                <!-- <span>{{price}} </span>    -->
                                                <div *ngIf = "price['sanpham_id'] == item['ctsp_id']['mausanpham_id']['sanpham_id']['_id']"
                                                    >
                                                    <span  
                                                    *ngIf="item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] == null
                                                    ||  ((item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] != null) 
                                                    && (!isExpirationExpired(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id']))) "
                                                    >{{price['dongia']* item['soluongdat'] | currency: 'VND'}} &nbsp;
                                                    </span>

                                                    <div class="new-price" 
                                                        *ngIf="(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'] != null)  
                                                        && (isExpirationExpired(item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id'])) ">
                                                        
                                                        {{price['dongia']* item['soluongdat']*(100-item['ctsp_id']['mausanpham_id']['sanpham_id']['khuyenmai_id']['giamgia'])/100 | currency: 'VND'}}
                                                    </div>
                                               
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td class="table__btn product-remove">
                                        <a class="btn-delete " (click)="onDelete(item['_id'])">X</a>
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table> 
                    </div>
                    <div class="cart__top-total">
                        <div class="card">
                            <div class="card__title">
                                TÓM TẮT ĐƠN HÀNG
                            </div>
                            <div class="card__content">
                                <div class="card__item">
                                    <div class="card_name">
                                        Tổng tiền
                                    </div>
                                    <div class="card_value">
                                        {{subTotal | currency:'VND'}}
                                    </div>
                                </div>
                                <div class="card__item">
                                    <div class="card_name">
                                        Giảm giá
                                    </div>
                                    <div class="card_value">
                                        {{discount | currency: 'VND'}}
                                    </div>
                                </div>
                            
                                <div class="card__item total">
                                    <div class="card_name ">
                                        Thành tiền
                                    </div>
                                    <div class="card_value ">
                                        {{total | currency: 'VND'}}
                                    </div>
                                </div>
                            </div>
                            <div class="card__btn">
                                <button class="btn-checkout" (click)="onCart()">ĐI ĐẾN ĐẶT HÀNG</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>