@import '../../scss/helpers/mixins';
@import '../../scss/helpers/variables';
@import '../../scss/helpers/colors';
@import '../../scss/helpers/shared';

.shopping{
    padding:4rem 2rem;
    text-align: center;
    .container{
        display: flex;
    }
    
    &__item{
        display: flex;
        text-align: center;
        line-height: 3rem;
        word-spacing: 3px;
        color:$greyx2;
        font-size:1.2rem;
        
        @include setMaxwidth($md){
            padding:0 1rem;
        }
        @include setMaxwidth($sm){
            padding:0;
        }
    }
    .filter{
        @include setMaxwidth($md){
            display: none;
        }
       
    }
}
.product{
    width: 100%!important;
}
.title_page{
    @extend %title-page;
    i{
        @extend %title-page-i;
    }
    a{
       @extend %title-page-a;
    }

}