@import '../../scss/helpers/mixins';
@import '../../scss/helpers/variables';
@import '../../scss/helpers/colors';
@import '../../scss/helpers/shared';

.shopping{
    padding:4rem 2rem;
    text-align: center;
    .container{
        display: flex;
    }
    
    &__item{
        display: flex;
        text-align: center;
        line-height: 3rem;
        word-spacing: 3px;
        color:$greyx2;
        font-size:1.2rem;
        
        @include setMaxwidth($md){
            padding:0 4rem;
        }
        @include setMaxwidth($sm){
            padding:0;
        }
    }
}
.title_page{
    background-color: $bgsimple;
    color: white;
    width: 100%;
    @extend %title-list;
    font-size: 1.5rem;
    a{
        color: $grey0;
        &:hover{
            color: white;
        }
    }

}