<div id="checkout">
    <section class="checkout">
        <div class="title_page">
            <a href="">Trang chủ</a> \ <a href="">Giỏ hàng</a> \ <a href="">Đặt hàng</a> \ Thanh toán
        </div>
        <ul class="progressbar">
            <li  class="active done">Giỏ hàng</li>
            <li  class="active done">Đặt hàng</li>
            <li  class="active done">Thanh toán</li>
            <li class="active ">Thành công</li>
        </ul>
        <div class="container">
            <div class="checkout__top">
                <div class="checkout__top-image">
                    <img src="../../../../../assets/img/done-white-24dp.svg" alt="">
                </div>
                <div class="checkout__top-title">Đặt hàng thành công!</div>
                <div class="checkout__top-content">Cảm ơn Quý khách đã mua sắm tại FootShop! Đơn hàng #Mã của Quý khách đang chờ duyệt.<br> Bạn có thể theo dõi đơn hàng tại <a routerLink="/myorder">Đơn hàng của tôi</a>.</div>
                
            </div>
        </div>
    </section>
</div>