<div class="title">
    <span>Thêm kích cỡ mới</span>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div >
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <mat-form-field class="example-full-width">
            <mat-label>Tên</mat-label>
            <input matInput required minlength="2" type="text" class="form-control"
            name="ten" #ten="ngModel" [(ngModel)]="service.formSize.ten">
        </mat-form-field>

        <div class="text-left text-danger"
            *ngIf="ten.invalid && ten.touched">
            Nhập tên kích cỡ.
        </div>

        <button class="mt-4" mat-raised-button 
        color="primary" type="submit"
        [disabled]="form.invalid">Thêm</button>
    </form>
</div>
