<div class="wrapper">
    <!-- HEADER START -->
    <div class="header">
        <div class="header-menu">
            <div class="title"><span>FOOT</span> SHOP</div>
            <div class="sidebar-btn">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="menu"> 
                <li><a href="" class="menu-icon"><i class="fas fa-home"></i></a></li>
                <li class=" menu-item has-menu">
                    <a (click)="onLogout()" class="menu-icon"><i class="far fa-user"></i></a>
                    <span id="icon-dropdown" class="icon-dropdown"><i class="fas fa-chevron-down"></i></span>
                    <ul class="sub-menu" id="sub-menu">
                        <li class="sub-menu-item">
                            <a href="#" class="sub-link">Tài khoản</a>
                        </li>
                        <li class="sub-menu-item">
                            <a (click)="onLogout()" class="sub-link">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- HEADER END  -->
    <!-- SIDEBAR START  -->
    <div class="sidebar">
        <div class="sidebar-menu">
            
            <li class="item" id="dashboard">
                <a routerLink="/admin/dashboard" class="menu-btn">
                    <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
                </a>
            </li>
            
            <li class="item" id="brand"><a routerLink="/admin/brand" class="menu-btn">
                <i class="fas fa-tag"></i><span>Thương hiệu</span>
            </a></li>
            <li class="item" id="category"><a routerLink="/admin/category" class="menu-btn">
                <i class="fas fa-clipboard-list"></i><span>Danh mục</span>
            </a></li>
            <li class="item" id="color"><a routerLink="/admin/color" class="menu-btn">
                <i class="fas fa-palette"></i><span>Màu sắc</span>
            </a></li>
            <li class="item" id="size"><a routerLink="/admin/size" class="menu-btn">
                <i class="fas fa-expand-alt"></i>
                <span>Kích cỡ</span>
            </a></li>

           
           
            
            <li class="item" id="product"><a routerLink="/admin/product" class="menu-btn">
                <i class="fas fa-cubes"></i><span>Sản phẩm</span>
            </a></li>
            <li class="item" id="order"><a routerLink="/admin/order" class="menu-btn">
                <i class="fas fa-receipt"></i><span>Đơn hàng</span>
            </a></li>
            <li class="item" id="stock"><a routerLink="/admin/stock" class="menu-btn">
                <i class="fas fa-file-invoice"></i><span>Phiếu nhập</span>
            </a></li>
            <li class="item" id="comment"><a routerLink="/admin/comment" class="menu-btn">
                <i class="fas fa-comments"></i><span>Bình luận</span>
            </a></li>
            <li class="item" id="chart">
                <a  class="menu-btn" (click)="clickEvent()"  >
                    <i class="fas fa-chart-bar"></i>
                    <span>Thống kê 
                        <i class="fas fa-chevron-down dropdown" [ngClass]="status ? 'show' : 'unshow'"></i>
                        <i class="fas fa-chevron-up dropdown" [ngClass]="status ? 'unshow' : 'show'"></i>
                    </span>
                </a>
                <div class="sub-menu" [ngClass]="status ? 'show-submenu' : 'unshow'" >
                    <a class="sub-btn"   routerLink="/admin/pro-chart"><i class="fas fa-chart-line"></i><span>Thống kê sản phẩm</span></a>
                    <a class="sub-btn"  routerLink="/admin/revenue-chart" ><i class="fas fa-chart-pie"></i><span>Thống kê doanh thu</span></a>
                </div>
            </li>
        </div>
    </div>
    <!-- SIDEBAR END  -->
    <div class="main-container">
        <!-- <div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus corrupti neque expedita? Fugiat voluptate iusto nemo sapiente esse atque distinctio tenetur nisi ratione, suscipit harum ad molestiae eveniet sed nostrum!</p></div> -->
        <router-outlet></router-outlet>
    </div>

</div>