@import '../../scss/helpers/mixins';
@import '../../scss/helpers/variables';
@import '../../scss/helpers/colors';




.wrapper{
    .header{
        z-index: 1;
        background-color: $greyx4;
        position: fixed;
        width: calc(100% - 0%);
        height: 70px;
        display: flex;
        top: 0;
        &-menu{
            width: calc(100% - 0%);
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            .title{
                color: $bggrey;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
            }
            span{
                color: $orange;
            }
            .sidebar-btn{
                color: $orange;
                position: absolute;
                margin-left: 10rem;
                font-size: 1.5rem;
                font-weight: 800;
                cursor: pointer;
                transition: 0.3s;
                transition-property: color;
                &:hover{
                    color: $orangesd;
                }
            }
            ul{
                display: flex;
                li{
                    .menu-icon{
                        // color: $orange;
                        color: white;
                        display: block;
                        margin-right: 2rem;
                        font-size: 1.5rem;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        background-color: $orange;
                        // background-color: white;
                        border-radius: 50%;
                        transition: 0.3s;
                        transition-property: color;
                        &:hover{
                            background-color: $orangesd;
                        }
                    }

                }
            }
            .menu {
                @include flex();
                @include setMaxwidth($xl) {
                    // max-height: 0;
                    // transition: .5s ease-in-out;
                    // background: $bgfantastic;
                    // @include flex($direction: column);
                    // overflow: hidden;
                    flex-direction: column !important;
                    width: 100%;
                    max-height: 0;
                        overflow: hidden;
                        background: $greyx4;
                        -webkit-transition: all 0.4s ease-in-out;
                            -moz-transition: all 0.4s ease-in-out;
                            -o-transition: all 0.4s ease-in-out;
                            transition: all 0.4s ease-in-out;
                }
                &-item {
                    // margin-left: 3rem;
                    text-transform: uppercase;
                    @include setMaxwidth($xl) {
                        display: block!important;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
                .has-menu {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    position: relative;
                    @include setMaxwidth($xl){
                        @include flex($justify:space-between,$wrap: wrap);
                    }
                    
                    &:hover {
                        .sub-menu {
                            display: block;
                            font-family: $opensanfont;
                            @include setMaxwidth($xl){
                                display: none;
                            }
                        }
                    }
                }
                .icon-dropdown{
                    margin-right: 3rem;
                    color:white;
                    display: none;
                    @include setMaxwidth($xl){
                        display: inline;
                    }    
                }
                .sub-menu {
                    z-index: 1;
                    width: 160px;
                    position: absolute;
                    display: none;
                    border-top: 4px solid $orange;
                    // text-transform: ;
                    margin-top: 1rem;
                    transform:translateX(-100px)!important;
                    background:  $greyx4;
                    cursor: pointer;
                    @include setMaxwidth($xl){
                        position: relative;
                        @include flexitem($basis:100%);
                        background:inherit;
                        border-top:none;
                        display: block!important;
                        max-height: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        -moz-transition: all 0.4s ease-in-out;
                        -o-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        overflow: hidden;
                    }
                    &-item {
                        line-height: 4rem;
                        // border-bottom: 1px solid white;
                        @include setMaxwidth($xl){
                            // border-top:1px solid white;
                            border-bottom: none;
                        }
                    }
                }
                .sub-link {
                    color: white;
                    font-size: 1rem;
                    display: block;
                    padding: 0 2rem;
                    line-height: 3rem!important;
                    @include setMaxwidth($xl){
                        padding:0 4rem;
                        &::before{
                            content: ' -';
                        }
                    }
                    &:hover {
                        color: $orange!important;
                        
                        background: $greyx4;
                        transition: 0.4s all;
                    }
                }
                
            }
        }
    }
    
    .sidebar{
        z-index: 1;
        background: $greyx3;
        position: fixed;
        padding-bottom: 1rem;
        top: 70px;
        width: 200px;
        height: calc(100% - 9%);
        transition: 0.3s;
        transition-property: width;
        overflow-y: auto;

        &-menu{
            overflow: hidden;
            .profile{
                text-align: center;
                img{
                    margin: 1rem 1rem 0 1rem;
                    width: 100px;
                    height: 100px;
                    object-fit: cover; //scale and crop img
                    border-radius: 50%;
                }
                p{
                    color: $bggrey;
                    margin-bottom: 1rem;
                    font-weight: 800;
                }
            }
        }
        li{
            list-style-type: none;
        }
        .item{
            width: 200px;
            overflow: hidden;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            .menu-btn{
                display: block;
                color: $bggrey;
                position: relative;
                padding: 1rem 1rem;
                transition: 0.3s;
                transition-property: color;
                &:hover{
                    color: $orange;
                }
                .fas {
                    margin-right: 1rem;
                    
                }
                .material-icons{
                    margin-right: 1rem!important;
                    font-size: 1.5rem!important;
                    line-height: normal;
                    align-items: center;
                }
                .dropdown{
                    float: right;
                    font-size: 0.9rem;
                    margin-top: 0.2rem;
                }
            }
            .active{
                border-left: 4px solid $orange;
                background-color: $greyx4;
                color: $orange;
                
            }
            .sub-menu{
                background-color: $orange;
                overflow: hidden;
                max-height: 0;
                transition: 0.3s;
                transition-property: background, max-height;
                a{
                    display: block; //enter row
                    position: relative;
                    color: white;
                    white-space: nowrap;
                    padding: 1rem;
                    padding-left: 2rem;
                    border-bottom: 1px solid $orangex0;
                    transition: 0.3s;
                    &:hover{
                        background-color: $orangesd;
                    }
                    .fas {
                        margin-right: 1rem;
                        
                    }
                   
                }
            }
            
        }
        
    }
    .main-container{
        width: calc(100% - 200px);
        margin-top: 70px;
        padding-top: 5px;
        margin-left: 200px;
        padding-bottom: 2vh;
        min-height: 100vh; //set cho bg vừa khung mh
        margin-right: 0;
        // padding: 3rem;
        background-color: $bggrey;
        // height: 100vh;
    }
}

.show-submenu{
    max-height: 500px!important;
}
.show{
    display: none;
}
.unshow{

}
.collapse{
    .sidebar{
        width: 70px;
        .profile{
            display: none;
        }
        a{
            display: none;
        }
        span{
            display: none;
        }
        &-menu{
            .item{
                .menu-btn{
                    font-size: 2rem;
                }
                .sub-menu{
                    a{
                        padding-left: 1rem!important;
                        // font-family: $opensanfont;
                    }
                    i{
                        font-size: 1.8rem;
                        
                    }
                }
            }
        }
        
    }
    .main-container{
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}

.active{
    color: $orange;
}