<div class="grid-container">
    <div class="dashboard-card">
     <h1 class="mat-h1">Thống kê doanh thu</h1>
     <mat-tab-group color="warn" >
        <mat-tab label="2020"> 
          <div class="details__item-content">
            <div class="chart">
                <mat-card>
                    <div class="baseChart">
                        <div class="chart-title">Thống kê doanh thu 2020</div>
                        <div style="width: 100%;">
                            <canvas
                                baseChart
                                [chartType]="'line'"
                                [datasets]="chart_Data"
                                [labels]="chart_Labels"
                                [options]="chartOptions"
                                
                                [legend]="true"
                                (chartClick)="onChartClick($event)">
                            </canvas>
                        </div>
                    </div>
                </mat-card>
                </div>
                </div>
            </mat-tab>
    <mat-tab label="2021"> 
        <div class="details__item-content">
   <div class="chart">
       <mat-card>
          <div class="baseChart">
              <div class="chart-title">Thống kê doanh thu 2021</div>
              <div style="width: 100%;">
                  <canvas
                      baseChart
                      [chartType]="'line'"
                      [datasets]="chart_Data2021"
                      [labels]="chart_Labels2021"
                      [options]="chartOptions"
                      
                      [legend]="true"
                      (chartClick)="onChartClick($event)">
                  </canvas>
                </div>
           </div>
       </mat-card>
      </div>
      </div>
  </mat-tab>
  </mat-tab-group>

        

    </div>
</div>