<div class="grid-container">
    <div class="dashboard-card">
     <h1 class="mat-h1">Chi tiết sản phẩm</h1>
       
                <div class="content info">
                    
                        <h2>Tên : {{product['ten']}}</h2>
                        <h5>Mã: {{product['_id']}}</h5>
                        <h5>Đơn giá: {{product['dongia'] | currency: 'VND'}}</h5>
                        <h5>Thương hiệu: {{product['thuonghieu_id']['ten']}}</h5>
                        <h5>Danh mục: {{product['danhmuc_id']['ten']}}</h5>
                        <h5>Mô tả: {{product['mota']}}</h5>
                        
                        <button class="mt-2 btn-add" mat-raised-button (click)="onAdd()"
                        color="primary">
                        Thêm phân loại hàng
                    </button>
                </div>
                
                
            
                <div class="content">
                  
                    <div class="grid-container">
                      
                    <div class="dashboard-card">
                    
                   

                    <mat-card *ngFor="let procolor of productColorList">
                      <div class="detail">
                        <div class="detail-item">
                          <h3>Màu sắc:</h3> 
                          <div class="detail-item-color">
                            <img src="{{procolor.mausanpham['mausac_id']['hinh']}}" alt="" class="color-image">
                            <span>{{procolor['mausanpham']['mausac_id']['ten']}}</span>
                          </div>
                          
                        </div>
                        <div class="detail-item">
                          <h3>Hình ảnh:</h3>
                          <div class="detail-item-images" *ngIf="procolor['mausanpham']['hinh'] == null">
                            Chưa thêm ảnh.
                          </div>
                          <div class="detail-item-images product-color-image">
                              <img src="{{image['hinh']}}" *ngFor= "let image of procolor['mausanpham']['hinh']" alt="">
                          </div>
                        </div>
                        <div class="detail-item">
                          <h3>Kích cỡ:</h3>
                          <div class="detail-item-sizes" *ngIf="procolor.kichco.length == 0">
                            Chưa thêm kích cỡ.
                          </div>
                          <div class="detail-item-sizes " >
                              <span *ngFor="let size of procolor.kichco" class="detail-item-size">
                                {{size['kichco_id']['ten']}}: 
                                <span class="detail-item-quantity">{{size['soluong']}} đôi</span>
                              </span>
                          </div>
                        </div>
                        <div class="detail-item">
                          <h3>Thao tác</h3>
                          <div class="detail-item-options">
                            <button mat-icon-button (click)="onEdit(procolor['mausanpham']['_id'], procolor.kichco)">
                              <mat-icon>launch</mat-icon>
                          </button>
                      
                          <button mat-icon-button color="warn" (click)="onDelete(procolor['mausanpham']['_id'])">
                              <mat-icon>delete_outline</mat-icon>
                          </button>
                          </div>
                        </div>
                      </div>
                    </mat-card>
                
                   
                    </div>
                 
                
                </div>
                </div>
         
     


</div>
</div>
