@import '../../../scss/helpers/mixins';
@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/colors';
@import '../../../scss/helpers/shared';
.grid-container {
    margin: 20px;
  }

  .info{
      margin-bottom: 3rem;
      
  }
  
  
  .btn-add{
      float: right;
  }
  
.text-center{
    text-align: center;
}
.break { 
    word-break: break-all;
    white-space: pre-wrap!important;      /* CSS3 */   
    white-space: -moz-pre-wrap!important; /* Firefox */    
    white-space: -pre-wrap!important;     /* Opera <7 */   
    white-space: -o-pre-wrap!important;   /* Opera 7 */    
    word-wrap: break-word!important;      /* IE */
 }
.content{
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: left;
    padding-top:1rem;
    @include setMaxwidth($md){
        padding-top:1rem;
    }
    .grid-container{
        margin-top: 10px;
        display: block!important;
    }
    .dashboard-card{

    }
}
.color-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.product-color-image{

}

.detail{
    display: inline;
    @include grid($columns:repeat(4,1fr));
    @include setMaxwidth($lg){
        padding:0 2rem;
        max-width: none;
    }
    @include setMaxwidth($md){
        padding:0;
    }
    @include setMaxwidth($md){
        @include grid($columns:repeat(1,1fr),$rowGap:6rem);
    }
    &-item{
        &-color{
            display: flex;
            line-height: 2rem;
            align-items: center;
            span{
                padding-left: 0.5rem;
            }
            
        }
        &-images{
            display: flex;
            @include grid($columns:repeat(2,1fr), $rowGap: 1rem, $columnGap: 1rem);
            @include setMaxwidth($md){
                @include grid($columns:repeat(1,1fr),$rowGap:3rem);
            }
           
            img{
                // @include flexitem($basis:50%);
                // padding-right: 1rem;
                // width: 100px;
                // height: 100px;
                width: 100%;
            }


        }
        &-size{
            display: block;
        }
        &-quantity{
            float: right;
            padding-right: 5rem;
        }
    }
}

mat-card{
    margin-bottom: 2rem;
}


