
.grid-container {
    margin: 20px;
  }
  
  
  .btn-add{
      float: right;
  }
  
.text-center{
    text-align: center;
}

.discription{
    display: inline;
    width: 2rem!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}