@import '../../../scss/helpers/mixins';
@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/colors';
@import '../../../scss/helpers/shared';
.grid-container {
    margin: 20px;
  }
  mat-table{
      width: 100%;
      @include setMaxwidth($md){
        display: block;
        width: 600px;
    }
  }
  .mat-elevation-z8{
    @include setMaxwidth($md){
        display: block;
        width: 300px;
    }
}
  
  
  .btn-add{
      float: right;
  }
  
.text-center{
    text-align: center;
}

.discription{
    display: inline;
    width: 2rem!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}