<div id="checkout">
    <div class="title_page">
        <a routerLink="">Trang chủ</a>
        <i class="fas fa-chevron-right"></i> 
        <a routerLink="/cart">Giỏ hàng</a>
        <i class="fas fa-chevron-right"></i> 
        Đặt hàng
    </div>
    <div class="progress-bar" > 
        <ul class="progressbar">
            <li  class="active done" routerLink="/cart">Giỏ hàng</li>
            <li  class="active">Đặt hàng</li>
            <li  class="">Thanh toán</li>
            <li>Thành công</li>
        </ul>
    </div>
    <section class="checkout">
        
        <div class="container">
            <div class="checkout__top">
                <div class="checkout__top-form">
                    <div class="checkout__top-form-title">
                        Địa chỉ nhận hàng
                    </div>
                    <form  #myForm="ngForm" (submit)="submitForm(myForm)" id="checkoutForm">
                        <div class="form-group checkout__top-form-label title">
                            Địa chỉ 
                            <button class="checkout__top-form-btn btn-add-address" routerLink="/address/add">
                                Thêm địa chỉ mới
                            </button>
                        </div>
                        <div class="radio">
                            <label class="radio-container"
                            *ngFor="let add of addressList; let i = index">            
                                <span>{{add['ten']}} - </span>
                                <span>{{add['diachi']}} - </span>
                                <span>SDT: {{add['dienthoai']}}</span>
                                <input type="radio" checked="checked" name="radio"
                                    [(ngModel)]="defaultChecked"
                                    (ngModelChange)="choose($event)"
                                    id="{{add['_id']}}" [value]="add['_id']" 
                                    >
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        
                        
                        
                        <div class="form-group checkout__top-form-label">Hình thức vận chuyển</div>
                        <select class="form-control checkout__top-select" 
                            (change)="selectOption($event.target.value)" 
                            name="htvc_id"
                            #htvc_id="ngModel"
                            [(ngModel)]="selectedObject">
                            <option class="checkout__top-option" 
                               
                                *ngFor="let delivery of deliveryList" [value]="delivery['_id']">
                                {{delivery['ten']}}
                        </option>
                            
                        </select>
                        
                       
                        <button type="submit" class="btn checkout__top-form-btn btn-placeorder"
                        
                        >ĐẶT HÀNG</button>
                    </form>
                </div>
                <div class="checkout__top-total">
                    <div class="card">
                        <div class="card__title">
                            TÓM TẮT ĐƠN HÀNG
                        </div>
                        <div class="card__content">
                            <div class="cart__item">
                                <div class="card__item">
                                    <div class="card_name">
                                        Sản phẩm
                                    </div>
                                    <div class="card_value">
                                        Thành tiền
                                    </div>
                                </div>
                                
                                <div class="card__product">      
                                    <div class="card__product-item" 
                                        *ngFor="let item of cartList; let i = index">
                                        <div class="card__product-item-image">
                                            <div *ngFor="let dl of imageList | keyvalue">   
                                                <div *ngIf="dl.key == item.ctsp_id._id" >
                                                    <img src="{{dl.value}}" alt="Image" class="img-cart">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__product-item-name">
                                            {{item['ctsp_id']['mausanpham_id']['sanpham_id']['ten']}} 
                                            {{item['ctsp_id']['mausanpham_id']['mausac_id']['ten']}} / 
                                            {{item['ctsp_id']['kichco_id']['ten']}}
                                        </div>
                                        <div class="card__product-item-quantity">x {{item['soluongdat']}}</div>
                                        <div class="card__product-item-total card_value">
                                            <div *ngFor="let price of priceList">
                                                <!-- <span>{{price}} </span>    -->
                                                <div *ngIf = "price['sanpham_id'] == item['ctsp_id']['mausanpham_id']['sanpham_id']['_id']">
                                                    {{price['dongia']* item['soluongdat']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div> 
                            </div>
                            <div class="card__item">
                                <div class="card_name">
                                    Tổng tiền
                                </div>
                                <div class="card_value">
                                    {{subTotal}}
                                </div>
                            </div>
                            <div class="card__item">
                                <div class="card_name">
                                    Giảm giá
                                </div>
                                <div class="card_value">
                                    {{discount}}
                                </div>
                            </div>
                            <div class="card__item">
                                <div class="card_name">
                                    Phí vận chuyển
                                </div>
                                <div class="card_value">
                                    {{shipcost}}
                                </div>
                            </div>

                        
                            <div class="card__item total">
                                <div class="card_name ">
                                    Thành tiền
                                </div>
                                <div class="card_value ">
                                    {{total}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
