<div class="title">
    <span>Cập nhật màu sắc</span>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div >
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <mat-form-field class="example-full-width">
            <mat-label>Mã</mat-label>
            <input matInput readonly type="text" class="form-control"
            name="_id" #cate_id="ngModel" [(ngModel)]="service.formColor._id">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Tên</mat-label>
            <input matInput required minlength="2" type="text" class="form-control"
            name="ten" #ten="ngModel" [(ngModel)]="service.formColor.ten">
        </mat-form-field>

        <div class="text-left text-danger"
            *ngIf="ten.invalid && ten.touched">
            Nhập tên màu sắc.
        </div>

        <div class="image">
            <span>Hình ảnh</span>
            <!-- <input matInput required minlength="2" type="text" class="form-control"
            name="ten" #ten="ngModel" [(ngModel)]="service.formColor.ten"> -->
            <input type="file" name="photo" class="choosefile"
                accept="image/*" #photo (change)="processFile(photo)"> 
            <!-- <app-image-upload></app-image-upload> -->
        </div>

        <img [(src)]="image_link" alt="">
        

        <button class="mt-4" mat-raised-button 
        color="primary" type="submit"
        [disabled]="form.invalid">Cập nhật</button>
    </form>
</div>
<app-loading [isLoading]="isHandle"></app-loading>