<div class="grid-container">
    <div class="dashboard-card">
     <h1 class="mat-h1">Dashboard</h1>
     <div class="card">
         <mat-card class="customers">
             <div class="dashboard">
                 <div class="dashboard__item ">
                    <i class="fas fa-users"></i>
                     <div class="dashboard__item-title">
                        Khách hàng
                     </div>
                     <div class="dashboard__item-content">
                        <span>{{totalCustomers}}</span>
                     </div>
                 </div>
             </div>
         </mat-card>
         <mat-card class="orders">
            <div class="dashboard">
                <div class="dashboard__item ">
                    <i class="fas fa-receipt"></i>
                    <div class="dashboard__item-title">
                       Đơn hàng
                    </div>
                    <div class="dashboard__item-content">
                       <span>{{totalOrders}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="revenue">
            <div class="dashboard">
                <div class="dashboard__item">
                    <i class="fas fa-dollar-sign"></i>
                    <div class="dashboard__item-title">
                       Doanh thu
                    </div>
                    <div class="dashboard__item-content">
                       <span>{{revenue | currency:'VND'}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
     </div>
     <div class="chart">
         <mat-card>
            <div class="baseChart">
                <div class="chart-title">Thống kê doanh thu</div>
                <div style="width: 100%;">
                    <canvas
                        baseChart
                        [chartType]="'line'"
                        [datasets]="chart_Data"
                        [labels]="chart_Labels"
                        [options]="chartOptions"
                        
                        [legend]="true"
                        (chartClick)="onChartClick($event)">
                    </canvas>
                  </div>
             </div>
         </mat-card>

         <mat-card>
            <div class="mat-elevation-z8" style="overflow: auto;">
                <div class="chart-title">Danh sách sản phẩm sắp hết hàng</div>
                <mat-table class="full-width-table"  [dataSource] = "listData"  matSort>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  
                  <!-- Name Column -->
                  <ng-container matColumnDef="ten">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TÊN</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.mausanpham_id.sanpham_id.ten}}</mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="mausac">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>MÀU SẮC</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.mausanpham_id.mausac_id.ten}}</mat-cell>
                  </ng-container>
                  <!-- Id Column -->
                  <ng-container matColumnDef="kichco">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>KÍCH CỠ</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.kichco_id.ten}}</mat-cell>
                  </ng-container>
          
          
                  <!-- Description Column
                  <ng-container matColumnDef="brand_des">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.brand_des}}</mat-cell>
                  </ng-container> -->
          
                 
          
        
                </mat-table>
          
                <mat-paginator 
                    [pageSizeOptions]="[5, 10, 15]" >
                </mat-paginator>
              </div>
         </mat-card>
         
     </div>
    </div>
</div>