
<!-- PRODUCT -->
<div id="products">
    <!--products-->
    <section class="products">
        <div class="container">
            <div class="products__top">
                <h3 class="products__top-title">
                    SẢN PHẨM
                </h3>
                
            </div>
            <div class="products__menu">
                <!-- <div *ngFor = "let item of product; let i = index"> -->
                <div class="item" *ngFor = "let item of product  | paginate: config">
                    <div class="item__img">
                        <a  class="img-prod"
                        routerLink="/details/{{item.sanpham['_id']}}/{{item['mausanpham'][0].mau.mausac_id['_id']}}"> 
                            <img class="img-fluid" *ngIf="item.mausanpham[0]['hinh']"
                                src="{{item.mausanpham[0]['hinh']['hinh']}}" alt="Hình ảnh">
                                <img class="img-fluid" *ngIf="!item.mausanpham[0]['hinh']"
                                src="../../../../../assets/img/img_not_found.png" alt="Hình ảnh">
                            <div class="badge">
                                <div class="discount-badge" 
                                    *ngIf="(item.sanpham['khuyenmai_id'] != null)  && (isExpirationExpired(item.sanpham['khuyenmai_id'])) ">
                                    <span class="amount" >-{{item.sanpham['khuyenmai_id']['giamgia']}}%</span>
                                </div>
                                <!-- <div class="favorite">
                                    <a class=" active"><i class="fas fa-heart"></i></a>
                                </div> -->
                            </div>
                            
                        </a>
                    </div>
                    <h5 class="item__name">
                        <a class="item__name-text"
                            routerLink="/details/{{item.sanpham['_id']}}/{{item['mausanpham'][0].mau.mausac_id['_id']}}"
                            >{{item.sanpham['ten']}}</a>
                    </h5>

                    <p class="item__price" 
                        *ngIf="(item.sanpham['khuyenmai_id'] == null  
                        ||  ((item.sanpham['khuyenmai_id'] != null) 
                            && (!isExpirationExpired(item.sanpham['khuyenmai_id'])))) ">
                        {{item.dongia | currency: 'VND'}}
                    </p>
                    <p class="item__price" 
                        *ngIf="(item.sanpham['khuyenmai_id'] != null)  && (isExpirationExpired(item.sanpham['khuyenmai_id'])) ">
                        <span class="old-price">{{item.dongia | currency: 'VND'}} </span> 
                        {{item.dongia*(100-item.sanpham['khuyenmai_id']['giamgia'])/100 | currency: 'VND'}}
                    </p>

                    <div class="item__colors">
                        <!-- <div >  -->
                            <!-- {{img.mau['mausac_id']['ten']}}  -->
                            <img class="item_colors-img" 
                            *ngFor = "let img of item.mausanpham; let i = index"
                            src="{{img.mau['mausac_id']['hinh']}}" alt=""> 
                        <!-- </div> -->
                       
                        <!-- <img class="item_colors-img" src="../../../../../assets/img/red.png" alt=""> -->
                    </div>
                    <!-- <div class="item__btn">
                        <button class=" btn-add-to-cart">THÊM VÀO GIỎ</button>
                        <button class="btn-detail" 
                            routerLink="/details/{{item.sanpham['_id']}}/{{item['mausanpham'][0].mau.mausac_id['_id']}}"
                            >XEM CHI TIÊT</button>
                    </div> -->
                </div>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="row text-center">
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
              </div>
        </div>
    </section>
    <!--End products-->
</div>

