@import '../../scss/helpers/mixins';
@import '../../scss/helpers/variables';
@import '../../scss/helpers/colors';
@import '../../scss/helpers/shared';

.footerinfo{
    padding:4rem 2rem;
    background-color: $greyx3;
    .container{
        @include grid($columns:repeat(4,1fr));
        @include setMaxwidth($lg){
            padding:0 2rem;
            max-width: none;
        }
         
        @include setMaxwidth($md){
            padding:0;
            @include grid($columns:repeat(2,1fr),$rowGap:6rem);
        }
        @include setMaxwidth($sm){
            padding:0;
            @include grid($columns:repeat(1,1fr),$rowGap:1rem);
        }
    }
    
    &__item{
        text-align: center;
        line-height: 3rem;
        word-spacing: 3px;
        color:$greyx2;
        font-size:1.2rem;
        
        @include setMaxwidth($md){
            padding:0 4rem;
        }
        @include setMaxwidth($sm){
            padding:0;
        }
        &-link{
            a{
                color: $bggrey1;
                font-weight: 200;
                &:hover{
                    color: $bglink;
                    font-weight: 100;
                }
            }
            
        }
        &-title{
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-family: $boldfont;
            font-weight: 200;
            color: $bggrey;

        }
        &-img{
            text-align: left;
            margin-bottom: 1rem;
            .img-logo{
                

                width: 80px;
                height: auto;
                filter: 
                /* black to white */
                invert(100%)
            }
        }
        &-text{
            color: $bggrey1;
            font-family: $title-font;
            text-align: left;
            @include setMaxwidth($lg){
                padding:0 2rem;
            }
            @include setMaxwidth($sm){
                padding:0;
            }
        }
    }
}


.footerav{
    padding:2rem 2rem;
    text-align: center;
    line-height: 3rem;
    word-spacing: 3px;
    color:$greyx2;
    font-size:1.2rem;
    background-color: $greyx4;
    .container{
        @include grid($columns:repeat(2,1fr));
        @include setMaxwidth($lg){
            padding:0 2rem;
            max-width: none;
        }
        @include setMaxwidth($sm){
            padding:0;
            @include grid($columns:repeat(1,1fr),$rowGap:4rem);
        }
        @include setMaxwidth($sm){
            padding:0;
            @include grid($columns:repeat(1,1fr),$rowGap:1rem);
        }
    }
    
    &__copyright{
        
        text-align: left;
    }
    &__social{
        @include flex($justify:center);
        li{
            margin-left: 2rem;
        }
        a{
            color: $grey0;
            font-size: 3rem;
            transition: .5s ease-in-out;
            &:hover{
                color:$greyx1;
            }
        }
    }
}
