    
    <footer>
        <section class="footerinfo">
            <div class="container">
                <div class="footerifo__item">
                    <div class="footerinfo__item-img">
                        <img src="../../../../../assets/img/logo.png" alt="">
                    </div>
                    <p class="footerinfo__item-text">
                        12345 North Main Street,New York, NY 555555
                    </p>
                    <p class="footerinfo__item-text">
                        Phone: 078 222 3322
                    </p>
                    <p class="footerinfo__item-text">
                        Email: foot.shoes.shop.2020@gmail.com
                    </p>
                    <p class="footerinfo__item-text">
                        Web: foot-shoesshop.com
                    </p>
                </div>
                <div class="footerifo__item">
                    <div class="footerinfo__item-title">
                        DANH MỤC
                    </div>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Nam</a> 
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Nữ</a>
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Nam</a> 
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Nữ</a>
                    </p>
                </div>
                <div class="footerifo__item">
                    <div class="footerinfo__item-title">
                        HỖ TRỢ KHÁCH HÀNG
                    </div>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Phí Vận Chuyển</a> 
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Phương Thức Thanh Toán</a> 
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Hướng dẫn đặt hàng</a>
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Liên Hệ</a> 
                    </p>
                </div>
                <div class="footerifo__item">
                    <div class="footerinfo__item-title">
                        ĐIỀU KHOẢN
                    </div>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Chính sách bảo mật & Cookie</a> 
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Điều khoản và Điều kiện</a>
                    </p>
                    <p class="footerinfo__item-link">
                        <a href="" class="category">Thông báo về Bản quyền</a> 
                    </p>
                    
                </div>
            </div>
        </section>
    </footer>
    <!--FOOTER-->
    <footer>
        <section class="footerav">
            <div class="container">
                <p class="footerav__copyright">
                    &copy; Copyright © 2020 Foot Shop by Hoang My.
                </p>
                <ul class="footerav__social">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                </ul>
            </div>
        </section>
    </footer>
    <!--End FOOTER-->