// $bluesky:#35BAF2;
$bluesky: #F5A007;
$grey:#72849C;
$greyx2:#595959;
$greyx1:#8c8c8c;
$grey0:#bfbfbf;
$bggrey:#f2f2f2;
$bgfantastic:#37507A;
$bgpayment:#415B86;
$bgneed:#4B6590;
$bgsimple:#56709C;


//demo 5 owl carousel
// $blue:rgb(76, 169, 180);
$blue: #F5A007;
$bgdark:#1a1a1a;
$bgtrends:#141416;

//footer
$greytitlebg: #4D4D4D;
$greyx4: #1D1F22;
$greyx3: #2B2E32;
$bggrey1: #CECFCF;
// $bglink: #427ed1;
$bglink: #c48005;

//product
$bgdiscount: #F5D22D;
$discount: #F32B0F;

//new tone:
$orange: #F5A007;
$orangesd: #c48005;
$red: #F32B0F;
$redsd: #c2220c;
$discountbg: #FA3232;
