$fontsize:13px;
$primary-font:'PT Sans', sans-serif;
$title-font:'Source Sans Pro', sans-serif;
$text-font: 'Yeseva One', cursive;
//Breakpoint
$fold:280px;
$xsm:420px;
$sm540:540px;
$sm:660px;
$md:768px;
$md1: 940px;
$lg:1000px;
$xl:1200px;

//Owl Carousel
//font-family
$primaryfont: 'Roboto Slab', serif;
$titlefont:'Abril Fatface',
cursive;
$yesevafont: 'Yeseva One', cursive;
$boldfont: 'Josefin Sans', sans-serif;