<div id="verify">
    <div class="title_page" >
        <a href="">Trang chủ</a>
        <i class="fas fa-chevron-right"></i>
        Quên mật khẩu
    </div>
</div>
<section class="verify">
    
    <div class="container">
        <div class="verify__item">
            
                <div class="verify__item-title">
                    Quên mật khẩu
                </div>
                <form [formGroup]="VerifyForm" id="verify__item-form" class="verify__item-form">
                    
                    <div class="form-group verify__item-form-group">
                        <span class="verify__item-form-label">Email*</span>
                        <input type="email" class="form-control" 
                            formControlName="email" id="inputCode" > 
                        <mat-error *ngFor="let validation of account_validation_messages.email">
                            <mat-error class="error-message" 
                                *ngIf="VerifyForm.get('email').hasError(validation.type) 
                                    && (VerifyForm.get('email').dirty 
                                    || VerifyForm.get('email').touched)"
                            >{{validation.message}}</mat-error> 
                        </mat-error>       
                    </div>
            
                    
                    <button type="submit" class="btn verify__item-btn"
                        [disabled] = "!VerifyForm.valid"
                        (click)="onVerify()">NHẬN MÃ</button>
            
                </form> 
        </div>     
    </div>
</section>