<div id="details">
    <div class="title_page">
        <a href="">Trang chủ</a>
        <i class="fas fa-chevron-right"></i>Chi tiết sản phẩm
    </div>
    <section class="details">
       
        <div class="container">
            
            <div class="details__top" *ngIf = "(productcolor | json) != ({} | json)">
                <div class="details__top-gallery" >
                    
                    <div class="product-gallery__featured">
                        <owl-carousel-o [options]="{items: 1, dots:false, margin:8}" #owlCar>
                          <ng-container *ngFor="let image of productImages">
                            <ng-template carouselSlide [id]="image.url" [width]="imageSize">
                              <!-- <img [src]="image.url"> -->
                              <lib-ngx-image-zoom
                                    [thumbImage]=image.url
                                    [fullImage]=image.full
                                    [magnification]="1"
                                    [enableScrollZoom]="true"
                                    [enableLens]="true"
                                    [lensWidth]="200"
                                    [lensHeight]="200"
                                    [circularLens] = "true"
                                ></lib-ngx-image-zoom>
                            </ng-template>
                          </ng-container>
                        </owl-carousel-o>
                      </div>
                    
                      <div class="product-gallery__carousel">
                        <owl-carousel-o [options]="{items:3, dots:false, margin:5, autoWidth: true}">
                          <ng-container *ngFor="let image of productImages; let i = index">
                            <ng-template carouselSlide [id]="image.url+i"  [width]="80">
                              <a (click)="owlCar.to(image.url); changeimage(image.url+i)">
                                <img [src]="image.url"
                                     [ngClass]="{'product-gallery__carousel-item--active':selectedImage === image.url+i || (i == 0 && !selectedImage)}">
                              </a>
                            </ng-template>
                          </ng-container>
                        </owl-carousel-o>
                      </div>

                </div>
                <form [formGroup]="CartForm" id="cart-form" class="cart-form">
                <div class="details__top-content">
                    <div class="details__top-title">
                        {{product['ten']}}
                        <p class="sku">SKU: {{productDetailsID}}</p>
                    </div>
                    
                    <div class="details__top-price">
                        <!-- <span class="old-price">$249 </span> &nbsp; -->
                         {{dongia.dongia | currency:'VND'}}
                    </div>
                    <div class="details__top-text">
                        Màu sắc: <a href="">{{productcolor.mausac_id.ten}}</a>
                    </div>                   
                    <div class="details__top-color" >
                       
                            <a *ngFor = "let img of colorList; let i = index" routerLink="/details/{{product['_id']}}/{{img['mausac_id']['_id']}}">
                                <img class="details__top-color-img" 
                                    id="{{img['mausac_id']['_id']}}"
                                    src="{{img['mausac_id']['hinh']}}" alt=""> 
                            </a>
                        
                        <!-- <img class="details__top-color-img" src="../../../../../assets/img/red.png" alt=""> -->
                    </div>
                    <div class="details__top-text">
                        Kích cỡ: 
                    </div>
                    <div class="details__top-size">
                        <select formControlName="sku" class="form-control details__top-select" 
                            
                            (change)="selectOption($event.target.value)">
                            <option class="details__top-option" 
                                *ngFor = "let size of sizeList; let i = index" [(NgModel)]="selected" 
                                value="{{size['_id']}}">{{size['kichco_id']['ten']}}</option>
                        </select>
                        <!-- <a href=""> Hướng dẫn kích thước</a> -->

                    </div>
                    <div class="details__top-text">
                        Số lượng: 
                    </div>
                    <div class="details__top-quantity">
                        <input type="number" class="form-control" step="1" [(max)]="qty"
                            id="quantity"  formControlName="quantity"  (click)="onChange()"> 
                         Còn {{qty}} đôi
                    </div>
                    <div>
                        <mat-error *ngFor="let validation of cart_validation_messages.quantity">
                            <mat-error class="error-message" *ngIf="CartForm.get('quantity').hasError(validation.type) 
                                && ( CartForm.get('quantity').dirty 
                                || CartForm.get('quantity').touched)"
                                >{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </div>
                    
                    
                   

                    <div class="details__top-btn">
                        <button class="btn-add-to-cart"
                            [disabled] = "!CartForm.valid" (click)="onAddToCart()">THÊM VÀO GIỎ
                        </button>
                        <!-- <a href="" class="favorite active"><i class="fas fa-heart"></i></a> -->
                    </div>
                </div>
                </form>
            </div>
            <div class="details__item">
            
                <div class="details__item-more">
                    <mat-tab-group color="warn" >
                        <mat-tab label="Mô Tả"> 
                            <div class="details__item-content">
                                <p class="text">
                                    {{product['mota']}}
                                </p> 
                            </div>
                            
                        </mat-tab>
                        <mat-tab label="Bình luận"> 
                            <div class="details__item-content">
                            <div class="details__rating">
                                <span class="title">Đánh giá trung bình</span>
                                <div class="rating" *ngIf="(commentList | json) == {}">
                                    <i class="far fa-star" aria-hidden="true" *ngFor="let star of arrayStar(5)"></i>
                                    <span class="avg">Chưa có đánh giá</span>
                                </div>
                                <div class="rating" *ngIf="(commentList | json) != {}">
                                    <i class="fas fa-star" aria-hidden="true" *ngFor="let star of arrayStar(ratingAvg)"></i>
                                        
                                    <i class="fas fa-star-half-alt" *ngIf="!isMiddle(ratingAvg)"></i>
                                    <i class="far fa-star" aria-hidden="true" *ngFor="let star of arrayStar(5-ratingAvg)"></i>
                                    <span class="avg"> {{ratingAvg}}</span>
                                </div>
                                
                            </div>

                            <!-- LIST COMMENTS -->
                            <div *ngIf="(commentList | json) != {}">
                            <div class="details__comment" *ngFor="let comment of commentList">
                                <div class="details__comment-info">
                                    <img src="../../../../../assets/img/user_none.png" alt="" class="avatar">
                                    <span class="name">{{comment['nguoidung_id']['ten']}}</span>
                                </div>
                                <div class="details__comment-content">
                                    <p>Ngày: {{comment['ngaybl'] | date: 'd/M/yyyy'}}</p>
                                    <div class="rating" >
                                        <i class="fas fa-star" aria-hidden="true" *ngFor="let star of arrayOne(comment['danhgia'])"></i>
                                        
                                        <!-- <i class="fas fa-star-half-alt"></i> -->
                                        <i class="far fa-star" aria-hidden="true" *ngFor="let star of arrayOne(5-comment['danhgia'])"></i>
                                    </div>
                                    <p class="text" >
                                    {{comment['noidung']}}
                                    </p> 
                                </div>
                                
                            </div>
                            </div>
                            <div *ngIf="!_authService.loggedIn()"  class="info-error"> <a routerLink="/login">Đăng nhập</a> để bình luận</div>
                           
                            <div class="comment" *ngIf="_authService.loggedIn()">
                                <span class="title">Viết bình luận </span>
                                <form [formGroup]="CommentForm" id="comment__form" class="comment__form">
                    
                                    <div class="form-group comment__form-group">
                                        <span class="comment__form-label">Bình luận *</span>
                                        <textarea name="comment" id="inputComment" cols="30" rows="10" 
                                            formControlName="comment">
                                        </textarea>
                                          
                                        <mat-error *ngFor="let validation of account_validation_messages.comment">
                                            <mat-error class="error-message" 
                                                *ngIf="CommentForm.get('comment').hasError(validation.type) 
                                                    && (CommentForm.get('comment').dirty 
                                                    || CommentForm.get('comment').touched)"
                                            >{{validation.message}}
                                            </mat-error>   
                                        </mat-error>
                                        
                                    </div>
                                    <div class="comment__form-group">
                                        <span class="comment__form-label">Đánh giá *</span>
                                        <ngx-star-rating [total]="5" [filledColor]="'#ff0000'" 
                                            (rated)="onRating($event)"></ngx-star-rating> 
                                        <mat-error class="error-message" 
                                            *ngIf="rating_value == 0"
                                        >Bạn chưa đánh giá</mat-error>   
                                        
                                    </div>
                                    <button type="submit" class="btn btn-add-to-cart"
                                            [disabled] = "(rating_value === 0 || (CommentForm.valid == false)) ? true: false"
                                        (click)="onComment()">GỬI BÌNH LUẬN
                                    </button>
                                </form>
                            </div>
                             
                            
                        </div>
                        </mat-tab>
                    </mat-tab-group>
                    
                </div>
            
            </div>
        </div>
    </section>
</div>
<app-relatedproduct></app-relatedproduct>
