<!--HEADER-->
<header>
    <section class="header">
        <div class="container">
            <div class="header__avada">
                <h1 class="header__avada-title">Avada Flux</h1>
                <p class="header__avada-text">Welcome to the next tech generation</p>
                <div class="header__avada-btn">
                    <button class="btn">Get Avada Now!</button>
                </div>
            </div>
            <div class="header__img" id="header-img">
                <div class="shape-img">
                    <div id="x-axis" class="axis"></div>
                    <div id="y-axis" class="axis"></div>
                    <img src="../../../../../assets/img/glow_shape_3.png" alt="" class="shape3">
                    <img src="../../../../../assets/img/glow_shape_2.png" alt="" class="shape2">
                    <img src="../../../../../assets/img/glow_shape_1.png" alt="" class="shape1">
                </div>
                <img src="../../../../../assets/img/watch_product.png" alt="" class="watch">
            </div>
        </div>
    </section>
</header>
<!--End HEADER-->
